/* To stop block-start & inline-start with 8px default margin & padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: black;
}

#title-container {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin: 10px;
    font-size: -webkit-xxx-large;
    color: #917852;
}
  
main {
    position: relative;
    z-index: 2;
    padding-top: 200px;
}

section {
    padding: 20px;
    margin: 5px;
    position: relative;
}

section::after {
    content: "";
    display: block;
    width: 75%;
    height: 1px;
    background-color: #917852;
    margin: 20px auto 0;
}

section:last-of-type::after {
    display: none;
}